{% extends "notifications/emails/base.html" %}
{% block content %}
<h1>Ticket reopened</h1>
<p>Hi {{ user.get_full_name|default:user.username }},</p>
<p>Your support ticket has been reopened and is back in progress.</p>
<table class="detail-table">
  <tr><td>Ticket</td><td>{{ ticket_number|default:ticket_id }}</td></tr>
  <tr><td>Subject</td><td>{{ ticket_subject|default:ticket_title }}</td></tr>
  <tr><td>Status</td><td>{{ ticket_status }}</td></tr>
</table>
{% if cta_url %}
<div class="btn-wrapper">
  <a href="{{ cta_url }}" class="btn">View Ticket</a>
</div>
{% endif %}
{% endblock %}
